Project/Library/
Project/Logs/
Project/Packages/
Project/Temp/
Project/.vs/Project/v15/Server/sqlite3/db.lock
Project/.vs/Project/v15/.suo
Project/.vs/Project/v15/Server/sqlite3/storage.ide
~$転生組+1.xlsx
*.csproj
*.sln
Project/.vs/Project/v15/Server/sqlite3/storage.ide-shm
Project/.vs/
Project/obj/
Project/ProjectSettings/ProjectVersion.txt